body{
    margin: 0px;
    padding: 0px;
}

#navbar{
    display: flex;
    position: sticky;
    top: 0px;
    padding: 10px 150px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    background-color: white;
}

.left-side-nav a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;
}

.left-side-nav a:hover{
    text-decoration: underline;
}

.top-navigation{
    display: flex;
    gap: 35px;
    list-style: none;

}

.top-navigation a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
}

.top-navigation a:hover{
    text-decoration: underline;
}
 
#main-div #top-section{
    display: flex;
    justify-content: center;
    padding: 90px 25px;
    background-color: antiquewhite;
    border-bottom: 3px solid black;
}

#left-main{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    width: 100%;
}

#text-part{
    max-width: 500px;
    width: 100%;
}

#text-part h2{
    font-size: 55px;
}

#text-part p{
    font-size: 35px;
}

#text-part .bold-word{
    font-weight: bold;
}

.buttons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.buttons button{
    padding: 15px 20px;
    font-weight: 600;
    border: 2px solid;
}

#button2{
    background-color: antiquewhite;
}

.buttons #button1:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}

.buttons #button2:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}


#right-main img{
    height: 600px;
    width: 500px;
}

#bottom-section{
 padding: 40px 0px;
}

 #bottom-part h2{
    max-width: 600px;
    margin: auto auto 50px;
    text-align: center;
    font-size: 34px;
}

#bottom-part p{
    max-width: 445px;
    margin: auto;
    text-align: center;
    font-size: 30px;
 }

#content{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 1000px;
    margin: 50px auto;
    justify-content:center;
}

.feature{
    display: flex;
    margin: 15px;
    padding: 20px;
    border: 2px solid black;
}

#content p{
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

#content img{
    max-height: 90px;
}

#final-part{
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#final-part h2{
    max-width: 500px;
    margin: 0px auto 25px;
    text-align: center;
    font-size: 34px;
}

#final-part button{
    padding: 15px 20px;
    font-weight: 600;
    border: 2px solid black;
    background-color: white;
}

#final-part button:hover{
    background-color: black;
    color: white;
}

#footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-size: 18px;
}

.bottom-navigation{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
    justify-content: space-between;
    font-weight: bold;
}

#nav-bottom a{
    text-decoration: none;
    color: white;
}

