*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.container{
   width: 100%;
   height: 100vh;
   background: linear-gradient(135deg, #143677, #4e085f);
   padding: 10px;
}

.form{
    width: 100%;
    max-width: 620px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;
}

.form h1{
    display: flex;
    font-size: 45px;
    color: #143677;
    justify-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.form-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.form-details h4{
    font-size: 20px;
     color: #143677;
}

.form-details input{
    width: 100% ;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 5px;
}

.form-details button{
    width: 100%;
    margin: 10px auto 15px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.form-details button:hover{
    color: white;
    background: black;
}

.title{
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    gap: 0px;
    margin-bottom: 5px;
    font-size: 20px;
  
}
ul li{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 17px;
    cursor: pointer;
    position:relative;
    font-size: 18px;
}



